body {
    width: 100%;
    height: 100%;
    background-color: cadetblue;
}
.wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* registerForm */
.registerForm {
    position: relative;
    max-width: 550px;
    min-width: 360px;
    width: 100%;
    height: 630px;
    background-color: #fff;
    overflow: hidden;
}
.registerForm > div {
    width: 100%;
    height: 100%;
    padding: 40px;
}
.registerForm .title h2 {
    font-size: 28px;
}
.registerForm .title p {
    font-size: 16px;
    font-weight: 400;
}
.registerForm .inputForm {
    margin-top: 30px;
}
.registerForm .inputForm > div {
    width: 100%;
    height: 62px;
    margin-bottom: 30px;
    border: 1px solid #CCC;
    border-radius: 3px;
    /* overflow: hidden; */
    position: relative;
}
.registerForm .inputForm > div .info {
    font-size: 13px;
    font-weight: 500;
    margin-top: 2px;
    color: red;
}
.registerForm .inputForm .resetBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: #ddd;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    font-size: 15px;
    font-weight: 600;
    user-select: none;
    cursor: pointer;
}
.registerForm .inputForm h4 {
    position: absolute;
    top: 16px;
    left: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #999;
    transition: 0.25s;
}
.registerForm .inputForm input {
    width: 100%;
    padding: 18px 0 0 10px;
    height: 100%;
    border: none;
    font-size: 16px;
    font-weight: 500;
    outline: none;
}
.registerForm .inputForm input:focus + h4,
.registerForm .inputForm input:active + h4,
.registerForm .inputForm input.focus + h4 {
    top: 6px;
    left: 10px;
    font-size: 14px;
    font-weight: 700;
    color: cornflowerblue;
}
.registerForm .inputForm input:focus,
.registerForm .inputForm input:active {
    border: 2px solid cornflowerblue;
}
.registerForm .getStartedBtn {
    display: block;
    width: 100%;
    height: 58px;
    background-color: rgb(36, 190, 196);
    border-radius: 3px;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
}
.registerForm .getStartedBtn:hover {
    background-color: rgb(5, 128, 133);
}
.registerForm .getStartedBtn:active {
    transform: translateY(3px);
}
.registerForm .getStartedBtn.loading {
    display: flex;
    align-items: center;
    justify-content: center;
}
.registerForm .getStartedBtn.loading .circle {
    width: 30px;
    height: 30px;
    border: 5px solid #fff;
    border-top: 5px solid rgb(109, 199, 202);
    border-radius: 50%;
    animation: loading 1.2s linear infinite;
    user-select: none;
}

.registerForm .successBox {
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    position: absolute; 
    top: 100%;
    left: 0;
    transition: 0.8s;
}
.registerForm .successBox.success {
    top: 0;
    z-index: 10;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}
.registerForm .successBox.success .icon {
    font-size: 36px;
}
.registerForm .successBox.success h2 {
    font-size: 24px;
}
.registerForm .successBox.success .toLogin {
    margin-top: 20px;
    width: 200px;
    height: 48px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 3px;
    background-color: #333;
    color: #FFF;
    transition: transform .2s;
    cursor: pointer;
}
.registerForm .successBox.success .toLogin:active {transform: translateY(3px);}
.registerForm .successBox.success .toLogin:hover {
    background-color: #111;
}





@keyframes loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* .registerForm .getStartedBtn.loading .innerCircle {
    width: 30px;
    height: 30px;
    border: 4px solid #fff;
    border-radius: 50%;
} */
